.update-log-container {
  width: 95vw;
  position: relative;

  .content-wrapper {
    padding: 16px 20px;
  }

  .markdown-body {
    color: var(--text-color) !important;
    background-color: var(--bg-color);
  }

  .edit-button {
    position: fixed !important;
    top: 80px !important;
    right: 30px !important;
  }

  .EasyMDEContainer .CodeMirror {
    height: 79vh;

    .editor-preview {
      padding: 10px 20px;
    }
  }

  .buttons {
    position: absolute;
    right: 20px;
    top: 19px;
    z-index: 1;
  }
}
