.update-log-container {
  width: 95vw;
  position: relative;

  .content-wrapper {
    padding: 16px 20px;
  }

  .edit-button {
    position: fixed;
    top: 80px;
    right: 30px;
  }

  .EasyMDEContainer .CodeMirror {
    height: 79vh;

    .editor-preview {
      padding: 10px 20px;
    }
  }

  .buttons {
    position: absolute;
    right: 20px;
    top: 19px;
    z-index: 1;
  }
}
