<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>有语管理系统</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.1.0/github-markdown-light.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>
