
.ant-pagination {
  position: absolute;
  bottom: -5px;
  right: 16px;
  float: right;
}

.ant-tag {
  margin-right: 0;
}

.ant-tooltip-inner {
  color: black;
  background-color: var(--bg-color) !important;
}

.ant-tooltip-arrow-content{
  background-color: var(--bg-color) !important;
}

.ant-table-tbody {
  tr:nth-child(even) {
    background-color: var(--table-row-stripe);
  }

  tr {
    cursor: pointer;
  }
}
