
.ant-pagination {
  position: absolute;
  bottom: -5px;
  right: 16px;
  float: right;
}

.ant-tag {
  margin-right: 0;
}

.ant-tooltip-inner {
  color: black;
}

.ant-table-tbody {
  tr:nth-child(even) {
    background-color: rgba(250, 250, 250, 0.6);
  }

  tr {
    cursor: pointer;
  }
}
