.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.shadow {
  box-shadow: 0 1px 2px 1px #d7d8d9;
}

.search-box {
  //.ant-input {
  //  width: 70%;
  //}

  .search-item {
    width: 76%;
  }

  .search-button {
    //position: relative;
    //top: 4px;
  }
}
